test = 14px
color-primary-dark = #5035d9

spacing(x = 1)
	(x * 25px)

.myClass {
  color: blue;
}
.myOtherClass {
  color: red;
}
.my-dashed-class {
  color: green;
	background: color-primary-dark;
	font-size: test;
}

.some-button{
	margin-top: spacing(2);
}